# File extensions:
*.bak
*.rpt
*.summary
*.qpf
*.qsf
*.qws
*.done
*.pin
*.pof
*.sof
*.exe
*.yaml
*.wlf
*.o 
*.log
*.lock
*.tmp
*.saif
.*
*.aux
*.idx
*.new
*.ini
*.synctex*

# Files
transcript

# Directories global
**/db/
**/incremental_db/
**/output_files/
**/simulation/
**/.vscode/
**/work/
**/__pycache__

# Directories
HW_filter/common/